/* HTML default */
html {
    position: relative;
    min-height: 100%;
}

/* Default style for checkboxWrapper */
.checkbox{
    background-color: #f5f5f5;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
}

/* Sortable element */
.sortable { list-style-type: none; margin: 0; padding: 0;}
.sortable li { margin: 0 3px 3px 3px;}
.sortable li span { position: absolute; margin-left: -1.3em; }

/* DATATABLES */
/* No Sort for datatables column */
.no-sorting::after { display: none!important; }
.no-sorting { pointer-events: none!important; cursor: default!important; }
th .check{width:24px; }
td .check{width:24px; }
