---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                    {% if page.download_url %}
                    <span class="subheading"><a href="{{ page.download_url }}" target="_blank">{{ page.download_label }}</a></span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-md-9">
            {{ content }}
        </div>
        <div class="text-center">
            <p>Develop with proven technologies</p>
        </div>
    </div>
</div>
<hr>
