---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                    {% if page.download_url %}
                    <p><a class="btn btn-get-latest" href="{{ page.download_url }}" target="_blank"><i class="fa fa-download"></i> {{ page.download_label }}</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-md-9">
            {{ content }}
        </div>
        <div class="col-md-3">
            <div class="text-center">
                <h3><i class="fa fa-github"></i> View on GitHub</h3>
                <a href="{{ site.github.code_url }}" target="_blank">Code Repository</a>
                <a href="{{ site.github.issues_url }}" target="_blank">Issues</a>
                <a href="{{ site.github.pulls_url }}" target="_blank">Pull Requests</a>
                <a href="{{ site.github.releases_url }}" target="_blank">Releases</a>
                <!-- Get latest button-->
                <p><a class="btn btn-get-latest" href="{{ page.download_url }}" target="_blank"><i class="fa fa-download"></i> {{ page.download_label }}</a></p>
            </div>
        </div>
    </div>
</div>
<hr>
